<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.istic.tdf.dfclient">

    <!-- Global permissions -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Push permissions -->
    <permission
        android:name="edu.istic.tdf.dfclient.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="easygcm.permission.C2D_MESSAGE" />
    <uses-permission android:name="easygcm.permission.RECEIVE" />

    <!-- Maps permissions -->
    <permission
        android:name="edu.istic.tdf.dfclient.fragment.SitacFragment.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />
    <uses-permission android:name="edu.istic.tdf.dfclient.fragment.SitacFragment.permission.MAPS_RECEIVE" />

    <application
        android:name=".TdfApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Push receiver -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.example.gcm" />
            </intent-filter>
        </receiver>

        <!-- Push services -->
        <service
            android:name="eu.inloop.easygcm.EasyGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name="eu.inloop.easygcm.EasyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <!-- Activities -->
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="landscape"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainMenuActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".activity.SitacActivity"
            android:screenOrientation="landscape"
            android:parentActivityName=".activity.MainMenuActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainMenuActivity" />
        </activity>
        <activity android:name=".activity.MeansTableActivity"
            android:screenOrientation="landscape"></activity>
        <activity android:name=".activity.DronesMapActivity"
            android:screenOrientation="landscape"></activity>

        <!-- Google maps api key-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

    </application>

</manifest>
